nav{
    background: linear-gradient(pink,lightseagreen);
    display: grid;
    grid-template-columns: 2fr 4fr;
    align-items: center;
    height: 60px;
}
.brand-name{
    text-align: center;
    font-weight: 900;
    font-size: 35px;
    display: inline-block;

    /* gradient text  */
    background: -webkit-linear-gradient(45deg,blue,red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-menu{
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}
.nav-item{
    font-size: 20px;
    font-weight: 600;
    margin: 0 10px;
    
}
.nav-item:hover{
    color: white;
}
.nav-btn{
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 688px) {
    nav{
        display: flex;
        flex-direction: column;
    }
    .nav-menu{
        flex-direction: column;
        width: 100vw;
        background-color: rgba(113, 216, 176, 0.678);
        /* box-shadow: 0 10px 20px -4px; */
        backdrop-filter: blur(2px);
        text-align: center;
        
    }
    .nav-item{
        /* width: 100%; */
        padding: 5px;
    }
    .nav-item:hover{
        background-color: rgb(104, 197, 104);
    }
    .nav-btn{
        display: block;
    }
}